@{
    ViewData["Title"] = "Home Page";
}

<head>
<link rel="stylesheet" href="~/css/Fondo.css" />
</head>

<body style="background-color: #1f1f1f">
    <div class="text-center py-5">
    <h1 class="display-1 text-danger mb-4">¡Bienvenido!</h1>
    <p class="lead text-white">JUGADORES</p>
    </div>
</body>  