@{
    ViewData["Title"] = "Home Page";
}

<head>
<link rel="stylesheet" href="~/css/color.css" />
</head>

<body style="background-color: #717D7E ">
   
    <div class="text-center py-1">
        <h1 class="display-1 text-white mb-4">Sobre nosotros</h1>
        <p class="lead text-white">Somos una empresa que vendemos prototipos a empresas de videojuegos</p>
        <img src="~/imagenes/logo.png" alt="flyeden">
    </div>

</body>  