.gradiante {
    background: rgb(185,33,13);
    background: linear-gradient(90deg, rgba(185,33,13,1) 0%, rgba(247,64,83,1) 33%, rgba(244,87,109,1) 65%, rgba(140,14,1,1) 100%);
}

.pie {
    background: rgb(185,33,13);
    background: linear-gradient(90deg, rgba(185,33,13,1) 0%, rgba(247,64,83,1) 33%, rgba(244,87,109,1) 65%, rgba(140,14,1,1) 100%);
}
